<h1 class="display-6 mt-5">Stupid Coaching<h1>
<p class="mt-3 h4">Ask your coach anything</p>
<form class="mt-4 h6" action="/answer" data-turbo="false">
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>